{% extends 'base.html.twig' %}

{% block title %}Listagem de Animais - {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Listagem de Animais</h1>

        <div class="row">
            <div class="col-md-12">
                <a href="" class="btn btn-primary pull-right">Cadastrar Animal</a>
            </div>
        </div>
        <table class="table table-hover table-striped mt-4">
            <thead>
            <tr>
                <th>Cod.</th>
                <th>Nome</th>
                <th>Data Nasc.</th>
            </tr>
            </thead>
            <tbody>
            {% for animal in animais %}
                <tr>
                    <td>{{ animal.id }}</td>
                    <td><a href="">{{ animal.nome }}</a></td>
                    <td>{{ animal.dataNascimento }}</td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="3">Nenhum Registro Encontrado !</td>
                </tr>
            {% endfor %}
            </tbody>


        </table>

    </div>
{% endblock %}
